@import './variables.scss';
@import './split.scss';
@import './layout.scss';
@import './syntax.scss';
@import './controls.scss';

.action-bar {
    display: flex;
    padding: 5px;
    height: 50px;
    background-color: $green;
    overflow: hidden;
    display: flex;

    .action {
        border-radius: 3px;
        line-height: 40px;
        font-size: 20px;
        cursor: pointer;
        min-width: 40px;
        text-align: center;
        flex-grow: 1;
        overflow: hidden;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &.disabled {
            opacity: .5;
            cursor: not-allowed;
        }
    }
}

// world adjustments
.canvas-container {
    position: relative;

    canvas {
        position: absolute;
        left: 0;
        top: 0;
    }
}

// editor adjustments
.vue-codemirror {
    flex-grow: 1;
    position: relative;

    .CodeMirror {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}
