$btn-std-bg-color: $gray;
$btn-primary-bg-color: $blue;
$btn-primary-color: $white;

.btn {
    background-color: $btn-std-bg-color;
    font-weight: normal;
    cursor: pointer;
    border: 0;

    &:hover {
        background-color: darken($btn-std-bg-color, 10%);
    }

    &:active {
        background-color: darken($btn-std-bg-color, 20%);
    }

    &[disabled] {
        background-color: lighten($btn-std-bg-color, 10%);
    }

    &.btn-primary {
        background-color: $btn-primary-bg-color;
        color: $btn-primary-color;

        &:hover {
            background-color: darken($btn-primary-bg-color, 10%);
        }

        &:active {
            background-color: darken($btn-primary-bg-color, 20%);
        }
    }
}

.btn-group {
    padding: 0;
    display: flex;

    button, input {
        height: 100%;
        border: 0;
        padding: 0;
        text-align: center,
    }

    button {
        background-color: $gray;
    }

    .left {
        min-width: 40px;
    }
    .main {
        flex-grow: 1;
    }
    .right {
        min-width: 40px;
    }
}
