<template>
  <div id="header">
    <div class="container">
      <div class="item brand">Karel.js</div>
      <div class="item"><a href="/docs" target="_blank">Ayuda</a></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Header',
}
</script>

<style scoped lang="scss">
#header {
  height: 50px;
  background-color: #546a7b;
  color: #fdfdff;
  font-weight: bold;

  a {
    color: #fdfdff;
  }
}

.container {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.item {
  line-height: 50px;
  margin: 0 5px;
}

.brand {
  font-size: 30px;
}
</style>
